In [1]:
# 데이터 불러오기 (종목별(Event) 제외)

import pandas as pd
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
import xmltodict

url = 'http://openapi.q-net.or.kr/api/service/rest/InquiryStatSVC/'
queryParams = '?' + urlencode({ quote_plus('ServiceKey') : 'ygMvNxJQ6HFnIUQtG0H5ykqHK9ANGqXm9AfnHa75GILHvyP4bsRRZfQqfpXtrn+3WmN+kyGCLOLqGo0qlF8HQg==', quote_plus('baseYY') : '2017' })

operation_list=['getTotExamList','getGradPiExamList','getGradPiPassList','getGradSiExamList','getGradSiPassList','getCertYearGradeList','getCertYearAgeList']

In [2]:
len(operation_list)

7

In [3]:
url + operation_list[4] + queryParams

'http://openapi.q-net.or.kr/api/service/rest/InquiryStatSVC/getGradSiPassList?ServiceKey=ygMvNxJQ6HFnIUQtG0H5ykqHK9ANGqXm9AfnHa75GILHvyP4bsRRZfQqfpXtrn%2B3WmN%2BkyGCLOLqGo0qlF8HQg%3D%3D&baseYY=2017'

In [4]:
all_datas= []

for i in range(len(operation_list)):
    request = Request(url + operation_list[i] + queryParams)
    request.get_method = lambda: 'GET'
    response_body= urlopen(request).read()
    
    decode_response= response_body.decode('utf-8')
    xml_parsing= xmltodict.parse(decode_response)

    if xml_parsing['response']['body']['items'] is not None:
        datas= xml_parsing['response']['body']['items']['item']
        all_datas.append(datas)

In [13]:
# 종목별(Event) 데이터 불러오기 - 종목코드 필요

operation_list_event= ['getEventYearPiList','getEventYearSiList','getEventCertYearList']

queryParams = '?' + urlencode({ quote_plus('ServiceKey') : 'ygMvNxJQ6HFnIUQtG0H5ykqHK9ANGqXm9AfnHa75GILHvyP4bsRRZfQqfpXtrn+3WmN+kyGCLOLqGo0qlF8HQg==', quote_plus('baseYY') : '2017' , quote_plus('jmCd') : '0960'})

for i in range(len(operation_list_event)):
    request = Request(url + operation_list_event[i] + queryParams)
    request.get_method = lambda: 'GET'
    response_body= urlopen(request).read()
    
    decode_response= response_body.decode('utf-8')
    xml_parsing= xmltodict.parse(decode_response)

    if xml_parsing['response']['body']['items'] is not None:
        datas= xml_parsing['response']['body']['items']['item']
        all_datas.append(datas)

In [19]:
type(all_datas)

list

In [149]:
# 데이터프레임 생성
 
dfs= dict()
failed_to_df= dict()

for i in range(len(all_datas)):
    if type(all_datas[i]) is list:
        df= pd.DataFrame(all_datas[i])
        dfs[i]=df
    else:
        failed_to_df[i]= all_datas[i]

In [150]:
len(dfs)

7

In [151]:
len(failed_to_df)

3

In [161]:
dfs.keys()

dict_keys([1, 2, 3, 4, 5, 6, 9])

In [163]:
failed_to_df.keys()

dict_keys([0, 7, 8])

In [167]:
failed_to_df['TotExam']= failed_to_df.pop(0)
failed_to_df['EventYearPi']= failed_to_df.pop(7)
failed_to_df['EventYearSi']= failed_to_df.pop(8)

dfs['GradPiExam']= dfs.pop(1)
dfs['GradPiPass']= dfs.pop(2)
dfs['GradSiExam']= dfs.pop(3)
dfs['GradSiPass']= dfs.pop(4)
dfs['CertYearGrade']= dfs.pop(5)
dfs['CertYearAge']= dfs.pop(6)
dfs['EventCertYear']= dfs.pop(9)

In [171]:
dfs.keys()

dict_keys(['GradPiExam', 'GradPiPass', 'GradSiExam', 'GradSiPass', 'CertYearGrade', 'CertYearAge', 'EventCertYear'])

In [172]:
failed_to_df.keys()

dict_keys(['TotExam', 'EventYearPi', 'EventYearSi'])

In [174]:
grad_pi_exam= dfs['GradPiExam']
grad_pi_exam

  gradename statisyy1 statisyy2 statisyy3 statisyy4 statisyy5 statisyy6
0       기술사     18023     17056     16482     18454     19596    445544
1       기능장     22743     22280     20370     21019     17572    114152
2        기사    326381    310576    284836    261362    254896   6557192
3      산업기사    210041    210028    204427    196546    196998   7655801
4      전문사무     41687     42501     42760     44133     43591    308894
5       기능사    932002    953480    947771    984361    974490  23638969
6      기능사보       NaN       NaN       NaN       NaN       NaN         0

In [175]:
grad_pi_pass= dfs['GradPiPass']
grad_si_exam= dfs['GradSiExam']
grad_si_pass= dfs['GradSiPass']
cert_year_grade= dfs['CertYearGrade']
cert_year_age= dfs['CertYearAge']
event_cert_year= dfs['EventCertYear']

In [177]:
grad_pi_pass

  gradename statisyy1 statisyy2 statisyy3 statisyy4 statisyy5 statisyy6
0       기술사        59        56        55        53        56        65
1       기능장        33        36        24        23        30        29
2        기사        41        43        42        37        40        38
3      산업기사        47        49        46        49        45        44
4      전문사무        40        41        36        34        34        30
5       기능사        49        48        48        47        47        51
6      기능사보       NaN       NaN       NaN       NaN       NaN        64