In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\miniconda3\lib\site-packages (1.3.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\miniconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\miniconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\miniconda3\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied: six>=1.5 in c:\users\user\miniconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [1]:
import pandas as pd

In [11]:
engineer_stats= pd.read_csv("./DATA/2021년 국가기술자격 통계 기사.csv", encoding='utf-8')
engineer_stats

,종목명,년도,성별,필기시험접수,필기시험응시,필기시험합격,필기시험합격률(%),실기시험접수,실기시험응시,실기시험합격,실기시험합격률(%),자격취득자현황(명)
0,기사합계,전체,전체,12768971,9173922,3374690,36.8,6376359,5252904,2054716,39.1,2135107
1,기사합계,2015(누적),전체,10345992,7402481,2641944,35.7,5030726,4112015,1584160,38.5,1664551
2,기사합계,2016,전체,451651,324625,125203,38.6,219527,189610,82070,43.3,82070
3,기사합계,2016,여자,89468,68080,28951,42.5,47175,41690,19749,47.4,19751
4,기사합계,2017,전체,468829,340250,128581,37.8,236142,201420,83274,41.3,83274
...,...,...,...,...,...,...,...,...,...,...,...,...
1891,기상감정,2018,여자,21,14,10,71.4,16,13,3,23.1,3
1892,기상감정,2019,전체,84,62,42,67.7,53,50,32,64.0,32
1893,기상감정,2019,여자,23,16,12,75.0,17,15,9,60.0,9
1894,기상감정,2020,전체,82,53,36,67.9,38,35,10,28.6,10
1895,기상감정,2020,여자,44,30,23,76.7,24,23,7,30.4,7

In [6]:
cbt_subjs_by_time= pd.read_csv("./DATA/한국산업인력공단_국가자격 CBT 교시과목 정보_20200619.csv", encoding='cp949')
cbt_subjs_by_time

               종목명          과목명  과목순서  교시번호  문항수  수험시간_분       등록일
0         중식조리산업기사          식품학     2     1   20      30  20/08/07
1         중식조리산업기사  식품위생 및 관련법규     1     1   20      30  20/08/07
2         중식조리산업기사        공중보건학     4     1   20      30  20/08/07
3     아스팔트피니셔운전기능사         과목없음     1     1   60      60  14/09/24
4           금속재료기사         표면공학     5     1   20      30  14/09/24
...            ...          ...   ...   ...  ...     ...       ...
1315      가구제작산업기사         가구재료     2     1   20      30  20/08/07
1316        신발산업기사      신발견본 개발     2     1   20      30  20/10/14
1317        신발산업기사  신발 기획 및 디자인     0     1   20      30  20/10/14
1318        신발산업기사        신발 설계     1     1   20      30  20/10/14
1319        포장산업기사      포장재료및시험     2     1   20      30  21/02/05

[1320 rows x 7 columns]

In [7]:
cbt_loca_examinee= pd.read_csv("./DATA/한국산업인력공단_국가자격 CBT 시험장소 및 수험자 정보_20200427.csv", encoding='cp949')
cbt_loca_examinee

,시행계획번호,수험자_차수,지사명,시험장소,시험일,부,행수,열수,좌석번호_방향,수험자_수험대상
0,PL2020522014,1,서울,서울국가자격시험장(휘경동)[CBT 1실],2020-02-09,1,5,6,세로방향,26
1,PL2020522014,1,서울,서울국가자격시험장(휘경동)[CBT 1실],2020-02-09,3,5,6,세로방향,27
2,PL2020522014,1,서울,서울국가자격시험장(휘경동)[CBT 1실],2020-02-09,5,5,6,세로방향,27
3,PL2020522014,1,서울,서울국가자격시험장(휘경동)[CBT 1실],2020-02-09,7,5,6,세로방향,27
4,PL2020522014,1,서울,서울국가자격시험장(휘경동)[CBT 1실],2020-02-09,9,5,6,세로방향,26
...,...,...,...,...,...,...,...,...,...,...
61536,PL2021533117,11,경기동부,폴리텍대학(성남)드림관(CBT시험실) [6실],2021-03-14,2,5,8,가로방향,18
61537,PL2021533117,11,경기동부,폴리텍대학(성남)드림관(CBT시험실) [6실],2021-03-14,4,5,8,가로방향,16
61538,PL2021533117,11,경기동부,폴리텍대학(성남)드림관(CBT시험실) [7실],2021-03-14,1,5,8,가로방향,18
61539,PL2021533117,11,경기동부,폴리텍대학(성남)드림관(CBT시험실) [7실],2021-03-14,2,5,8,가로방향,18
61540,PL2021533117,11,경기동부,폴리텍대학(성남)드림관(CBT시험실) [7실],2021-03-14,4,5,8,가로방향,18

In [9]:
cbt_stats= pd.read_csv("./DATA/한국산업인력공단_국가자격 CBT 통계 및 현황 정보_20201231.csv", encoding='cp949')
cbt_stats

,시행년도,시행월,시행일,시행회차,등급명,시행구분,종목명,지사명,응시자수,결시자수,중도포기자수,부정행위자수,합격자수,응시자전체시험시간,응시자전체총점
0,2020,1,20200119,1,기능사,상시,굴삭기운전기능사,서울,21,0,0,0,19,40088,1493.26
1,2020,1,20200119,1,기능사,상시,제과기능사,서울,20,1,0,0,11,36517,1201.60
2,2020,1,20200119,1,기능사,상시,양식조리기능사,서울,22,6,0,0,12,44086,1351.59
3,2020,1,20200119,1,기능사,상시,미용사(네일),서울,34,2,0,0,26,59953,2168.22
4,2020,1,20200119,1,기능사,상시,제빵기능사,서울,35,2,0,0,24,59832,2266.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68891,2020,12,20201224,42,기능사,상시,미용사(메이크업),전남,3,1,0,0,1,5319,178.32
68892,2020,12,20201224,42,기능사,상시,미용사(네일),전남,6,0,0,0,3,8760,353.31
68893,2020,12,20201224,42,기능사,상시,지게차운전기능사,전남,55,13,0,0,40,87608,3618.18
68894,2020,12,20201224,42,기능사,상시,굴삭기운전기능사,전남,36,6,0,0,30,67875,2488.19
68895,2020,12,20201224,42,기능사,상시,양식조리기능사,전남,5,0,0,0,3,7572,311.66