In [8]:
# 데이터 불러오기

import pandas as pd
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus

url = 'http://openapi.q-net.or.kr/api/service/rest/InquiryStatSVC/getTotExamList'
queryParams = '?' + urlencode({ quote_plus('ServiceKey') : 'ygMvNxJQ6HFnIUQtG0H5ykqHK9ANGqXm9AfnHa75GILHvyP4bsRRZfQqfpXtrn+3WmN+kyGCLOLqGo0qlF8HQg==', quote_plus('baseYY') : '2017' })

request = Request(url + queryParams)
request.get_method = lambda: 'GET'
response_body= urlopen(request).read()

In [9]:
# decoding
decode_response= response_body.decode('utf-8')

# xml파싱
import xmltodict

xml_parsing= xmltodict.parse(decode_response)
datas= xml_parsing['response']['body']['items']['item']

In [10]:
type(datas)

collections.OrderedDict

In [11]:
print(datas)

OrderedDict([('pilpscnt1', '649702'), ('pilpscnt2', '632502'), ('pilpscnt3', '590695'), ('pilpscnt4', '572198'), ('pilpscnt5', '557850'), ('pilpscnt6', '14503629'), ('pilrccnt1', '1550877'), ('pilrccnt2', '1555921'), ('pilrccnt3', '1516646'), ('pilrccnt4', '1525875'), ('pilrccnt5', '1507143'), ('pilrccnt6', '38720552'), ('silpacnt1', '525113'), ('silpacnt2', '516253'), ('silpacnt3', '485331'), ('silpacnt4', '429422'), ('silpacnt5', '445563'), ('silpacnt6', '11746885'), ('silrccnt1', '1109429'), ('silrccnt2', '1082471'), ('silrccnt3', '1042868'), ('silrccnt4', '950087'), ('silrccnt5', '969735'), ('silrccnt6', '24076230')])

In [12]:
# 데이터프레임 column생성

df_cols =[]

for key, val in datas[0].items():   # datas에 key와 value로 접근해 key만 추출해서 column생성
    df_cols.append(key)
    
print(df_cols)

KeyError: 0

In [6]:
# 데이터프레임 row 채우기

df_rows={}     # 빈 딕셔너리 형태로 row 생성 (딕셔너리에서 ket값을 이용하여 접근함 "dict[key값]"=value)
out_df= pd.DataFrame(columns=df_cols)     # 생성한 column 명으로 데이터프레임 생성

for i in range(len(datas)):
    for key, val in datas[i].items():     # datas에 key와 val로 접근하여, i번째 data의 
        df_rows[key]= val                  # values를 key row에 저장
    
    out_df= out_df.append(df_rows, ignore_index=True)     # 생성한 데이터프레임에 row를 추가해나감

In [7]:
out_df

  gradename statisyy1 statisyy2 statisyy3 statisyy4 statisyy5 statisyy6
0       기술사     18023     17056     16482     18454     19596    445544
1       기능장     22743     22280     20370     21019     17572    114152
2        기사    326381    310576    284836    261362    254896   6557192
3      산업기사    210041    210028    204427    196546    196998   7655801
4      전문사무     41687     42501     42760     44133     43591    308894
5       기능사    932002    953480    947771    984361    974490  23638969
6      기능사보    932002    953480    947771    984361    974490         0