In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\miniconda3\lib\site-packages (1.3.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\miniconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\miniconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\miniconda3\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied: six>=1.5 in c:\users\user\miniconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [4]:
import pandas as pd

In [16]:
engineer_info= pd.read_csv("./DATA/2021년도 기사 종목별 시험정보.csv", encoding='cp949')
engineer_info

          종목명         항목                                                 내용
0        가스기사         개요  고압가스가 지닌 화학적, 물리적 특성으로 인한 각종 사고로부터 국민의생명과 재산을 ...
1        가스기사       변천과정  ’83.12.20.대통령령 제11281호’98.05.09. 대통령령 제15794호현...
2        가스기사       수행직무  고압가스 및 용기제조의 공정관리, 가스의 사용방법 및 취급요령 등을 위해 예방을 위...
3        가스기사  실시기관 홈페이지                             http://www.q-net.or.kr
4        가스기사      실시기관명                                          한국산업인력공단
..        ...        ...                                                ...
825  환경위해관리기사       수행직무  화학물질로 인한 일반환경 및 산업환경 유해인자에 노출되어 나타날 수 있는 환경과 건...
826  환경위해관리기사  실시기관 홈페이지                             http://www.q-net.or.kr
827  환경위해관리기사      실시기관명                                           한국산업인력공단
828  환경위해관리기사    진로 및 전망  향후보건위생 및 환경검사원의 고용은 현 상태를 유지할 것으로 전망된다. 산업화의 진...
829  환경위해관리기사       취득방법  ① 시 행 처 : 한국산업인력공단② 시험과목필기 : 유해성 확인 및 독성평가, 유해...

[830 rows x 3 columns]

In [26]:
engineer_stats.tail(20)

,종목명,년도,성별,필기시험접수,필기시험응시,필기시험합격,필기시험합격률(%),실기시험접수,실기시험응시,실기시험합격,실기시험합격률(%),자격취득자현황(명)
1876,기상,2017,전체,594,488,327,67.0,460,408,293,71.8,293
1877,기상,2017,여자,269,217,145,66.8,209,185,130,70.3,130
1878,기상,2018,전체,465,376,238,63.3,368,315,99,31.4,99
1879,기상,2018,여자,193,159,100,62.9,164,141,46,32.6,46
1880,기상,2019,전체,502,414,234,56.5,425,354,142,40.1,142
1881,기상,2019,여자,203,169,99,58.6,183,154,66,42.9,66
1882,기상,2020,전체,479,404,257,63.6,399,352,202,57.4,202
1883,기상,2020,여자,226,193,129,66.8,189,167,97,58.1,97
1884,기상감정,전체,전체,860,649,271,41.8,338,295,89,30.2,89
1885,기상감정,2015(누적),전체,536,426,131,30.8,167,143,31,21.7,31
1886,기상감정,2016,전체,46,30,13,43.3,21,17,5,29.4,5
1887,기상감정,2016,여자,16,11,7,63.6,10,8,2,25.0,2
1888,기상감정,2017,전체,46,34,24,70.6,23,20,5,25.0,5
1889,기상감정,2017,여자,20,15,10,66.7,11,9,2,22.2,2
1890,기상감정,2018,전체,66,44,25,56.8,36,30,6,20.0,6
1891,기상감정,2018,여자,21,14,10,71.4,16,13,3,23.1,3
1892,기상감정,2019,전체,84,62,42,67.7,53,50,32,64.0,32
1893,기상감정,2019,여자,23,16,12,75.0,17,15,9,60.0,9
1894,기상감정,2020,전체,82,53,36,67.9,38,35,10,28.6,10
1895,기상감정,2020,여자,44,30,23,76.7,24,23,7,30.4,7

In [11]:
engineer_stats= pd.read_csv("./DATA/2021년 국가기술자격 통계 기사.csv", encoding='utf-8')
engineer_stats

,종목명,년도,성별,필기시험접수,필기시험응시,필기시험합격,필기시험합격률(%),실기시험접수,실기시험응시,실기시험합격,실기시험합격률(%),자격취득자현황(명)
0,기사합계,전체,전체,12768971,9173922,3374690,36.8,6376359,5252904,2054716,39.1,2135107
1,기사합계,2015(누적),전체,10345992,7402481,2641944,35.7,5030726,4112015,1584160,38.5,1664551
2,기사합계,2016,전체,451651,324625,125203,38.6,219527,189610,82070,43.3,82070
3,기사합계,2016,여자,89468,68080,28951,42.5,47175,41690,19749,47.4,19751
4,기사합계,2017,전체,468829,340250,128581,37.8,236142,201420,83274,41.3,83274
...,...,...,...,...,...,...,...,...,...,...,...,...
1891,기상감정,2018,여자,21,14,10,71.4,16,13,3,23.1,3
1892,기상감정,2019,전체,84,62,42,67.7,53,50,32,64.0,32
1893,기상감정,2019,여자,23,16,12,75.0,17,15,9,60.0,9
1894,기상감정,2020,전체,82,53,36,67.9,38,35,10,28.6,10
1895,기상감정,2020,여자,44,30,23,76.7,24,23,7,30.4,7

In [24]:
cbt_stats= pd.read_csv("./DATA/2020_CBT_통계_및_현황.csv", encoding='cp949')
cbt_stats

,시행년도,시행월,시행일,시행회차,등급명,시행구분,종목명,지사명,응시자수,결시자수,중도포기자수,부정행위자수,합격자수,응시자전체시험시간,응시자전체총점
0,2020,1,20200119,1,기능사,상시,굴삭기운전기능사,서울,21,0,0,0,19,40088,1493.26
1,2020,1,20200119,1,기능사,상시,제과기능사,서울,20,1,0,0,11,36517,1201.60
2,2020,1,20200119,1,기능사,상시,양식조리기능사,서울,22,6,0,0,12,44086,1351.59
3,2020,1,20200119,1,기능사,상시,미용사(네일),서울,34,2,0,0,26,59953,2168.22
4,2020,1,20200119,1,기능사,상시,제빵기능사,서울,35,2,0,0,24,59832,2266.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68891,2020,12,20201224,42,기능사,상시,미용사(메이크업),전남,3,1,0,0,1,5319,178.32
68892,2020,12,20201224,42,기능사,상시,미용사(네일),전남,6,0,0,0,3,8760,353.31
68893,2020,12,20201224,42,기능사,상시,지게차운전기능사,전남,55,13,0,0,40,87608,3618.18
68894,2020,12,20201224,42,기능사,상시,굴삭기운전기능사,전남,36,6,0,0,30,67875,2488.19
68895,2020,12,20201224,42,기능사,상시,양식조리기능사,전남,5,0,0,0,3,7572,311.66